# Basic comparison of newspapers

## Import packages

Import the necessary packages for this notebook.

In [1]:
import pandas as pd

## Load the dataset

In [2]:
data = pd.read_csv('data_preprocessed.csv')

data.head()

,Unnamed: 0,identifier,oaiIdentifier,type,title,date,content,krantnaam,verspreidingsgebied,month,day,doc,tokens,lemmas
0,914,http://resolver.kb.nl/resolve?urn=MMKB23:00139...,KRANTEN:MMKB23:MMKB23:001396001:mpeg21,artikel,Handelsberichten.,1873-01-01,"Amsterdam, 30 December. P Granen. Tarwe: O. wi...",Het vaderland : staat- en letterkundig nieuwsblad,Landelijk,January,Wednesday,"Amsterdam, 30 December. P Granen. Tarwe: O. wi...","['Amsterdam', ',', '30', 'December', '.', 'P',...","['Amsterdam', ',', '30', 'December', '.', 'P',..."
1,907,http://resolver.kb.nl/resolve?urn=MMKB23:00139...,KRANTEN:MMKB23:MMKB23:001396001:mpeg21,artikel,Residentienieuws.,1873-01-01,"Men verzekert ons, dat eenige leden van de Twe...",Het vaderland : staat- en letterkundig nieuwsblad,Landelijk,January,Wednesday,"Men verzekert ons, dat eenige leden van de Twe...","['Men', 'verzekert', 'ons', ',', 'dat', 'eenig...","['men', 'verzekeren', 'ons', ',', 'dat', 'eeni..."
2,908,http://resolver.kb.nl/resolve?urn=MMKB23:00139...,KRANTEN:MMKB23:MMKB23:001396001:mpeg21,artikel,"Korte berichten uit het Binnenland,",1873-01-01,Op den tweeden Kerstdag viel de conducteur G. ...,Het vaderland : staat- en letterkundig nieuwsblad,Landelijk,January,Wednesday,Op den tweeden Kerstdag viel de conducteur G. ...,"['Op', 'den', 'tweeden', 'Kerstdag', 'viel', '...","['op', 'den', 'tweed', 'Kerstdag', 'vallen', '..."
3,909,http://resolver.kb.nl/resolve?urn=MMKB23:00139...,KRANTEN:MMKB23:MMKB23:001396001:mpeg21,artikel,Onderwijs Lager Onderwijs Vacante planteen voo...,1873-01-01,"Te Ommelauderwijk, a ƒ4OO en vrije woning; te ...",Het vaderland : staat- en letterkundig nieuwsblad,Landelijk,January,Wednesday,"Te Ommelauderwijk, a ƒ4OO en vrije woning; te ...","['Te', 'Ommelauderwijk', ',', 'a', 'ƒ4OO', 'en...","['te', 'Ommelauderwijk', ',', 'a', 'ƒ4OO', 'en..."
4,910,http://resolver.kb.nl/resolve?urn=MMKB23:00139...,KRANTEN:MMKB23:MMKB23:001396001:mpeg21,artikel,Vacante plaatsen voor Hulponderwijzers.,1873-01-01,"Te Alkmaar, a ƒ400; —le Alfen, k ƒ 450; —te Be...",Het vaderland : staat- en letterkundig nieuwsblad,Landelijk,January,Wednesday,"Te Alkmaar, a ƒ400; —le Alfen, k ƒ 450; —te Be...","['Te', 'Alkmaar', ',', 'a', 'ƒ400', ';', '—', ...","['te', 'Alkmaar', ',', 'a', 'ƒ400', ';', '—', ..."

## Visualize the average length of articles per newspaper

In [3]:
## Retrieve the length of each article in the corpus and store it in the DataFrame

## Create empty list to store the lengths
article_lengths = []

## Retrieve length of each article and store in list
for index, row in data.iterrows():
    article_lengths.append(len(row['tokens']))

## Append list to DataFrame
data['article_length'] = article_lengths

## Show the first rows of title, tokens and article length in DataFrame                                    
data[['title', 'tokens', 'article_length']].head()

,title,tokens,article_length
0,Handelsberichten.,"['Amsterdam', ',', '30', 'December', '.', 'P',...",2503
1,Residentienieuws.,"['Men', 'verzekert', 'ons', ',', 'dat', 'eenig...",20573
2,"Korte berichten uit het Binnenland,","['Op', 'den', 'tweeden', 'Kerstdag', 'viel', '...",2854
3,Onderwijs Lager Onderwijs Vacante planteen voo...,"['Te', 'Ommelauderwijk', ',', 'a', 'ƒ4OO', 'en...",482
4,Vacante plaatsen voor Hulponderwijzers.,"['Te', 'Alkmaar', ',', 'a', 'ƒ400', ';', '—', ...",1681

In [8]:
print(data['content'][0])

Amsterdam, 30 December. P Granen. Tarwe: O. witbonte Poolsche ƒ 430, compt. 'zonder korting per 2400 kilo. Rogge bij vorigen prijs; O. Pruisen ƒ 205; N. Galatz/ 205; jarige dito ƒ 195,198; jri ige Bessarabië / 200; Taganrog ƒ 190; gebr, dito ƒ 175; N. Petersb. ƒ 205, a compt. zonder korting, per 2100 kilo. Öp levering per Maart ƒ 199, 200; Mei ƒ2Ol, 200. Koolzaad. Per 2000 kilo op 800 kilo Olie: in Oct. ƒ426. Raapolie: compt. ƒ 43%, per Mei ƒ 44% a 44, Sept.- Dec. ƒ4454 Lijnolie: compt. ƒ3B, per Maart/Mei ƒ39, Sept./Dec. ƒ—. Patentolie met fust: compt. ƒ 48, per Mei ƒ 4854, najaar ƒ 48%. Raapkoeken per 1040 st. ƒ 90 a 95. Lijnkoeken per 104 s. / 11 a 15. Petroleum per 100 kilo in cons. ƒ27 % a —. Rotterdam, 30 December. Tabak. Uit de eerste hand zijn verkocht 379 pk. Java, hoofdm. Malang D, per County of Berwick, en 324 pk. dito, hetzelfde hootdm., zeilende per County of Nairn. Petroleum opnieuw iets hooger; ca. 600 vj*. loco of Van boord bedongen ƒ 25% E , zoo bleef te koop. Vlas op het land met goeden handel. De aanvoer ter markt van heden was niet groot en vond tot vaste vorige prijzen koopers. Amsterdam, 30 December. Koffie. Afgedaan 1400 bn per Zeebloem. Schiedam, 30 December. Moutwijn per henlui. zonder fust ƒl5,— zonder de bel. Jenever » » » » – 20,50 » » » Arnst. proef » » » v – 21,75 » » » Spoeling – 2,30 per ketel. Spoeling werd door de Gonun. verk. – 2,20 i» »